.hidden {
    display: none !important
}
body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#background {
    z-index: -999;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    color: white;
}
#login-form input:first-child {
    width: 22%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    text-align: center; 
    color: #fff;
}
#login-form input:last-child {
    margin-left: 10px;
    height: 30px;
    border: 2px solid #fff;
    background: none;
    text-align: center; 
    color: white;
}
#todo-form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo-form input {
    width: 26%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    text-align: center; 
    color: #fff;
}
input::placeholder {
    color: white;
    font-style: italic;
}
ul {
    list-style: none;
}
#clock {
    margin: 15% 0 0 0;
    padding: 0;
    font-size: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
}
#greeting {
    margin: 20px 0 0 0;
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#todo-list {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px 37% 0 37%;
    padding: 20px;
    text-align: center;
    color: #fff;
}
#todo-list li{
    margin-bottom: 5px;
}
#todo-list li:last-child{
    margin-bottom: 0;
}
#todo-list span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 10px;
}
#todo-list button{
    border: none;
    background: none;
}
#quote {
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: auto;
    font-size: 16px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#weather {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}
